
@{
    ViewBag.Title = "RequestPassword";
}

<script src="~/Scripts/insus.common.utility.js"></script>

<script type="text/javascript">
    ////<![CDATA[
    $(document).ready(function () {
        $("#RequestPasswordForm").validate({
            rules: {
                Account: "required",
                Password: "required",
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Account: "输入帐号。",
                Email: {
                    required: "输入邮箱地址。",
                    email: "不是有效的邮箱地址。"
                }
            }
        });

        $('#btnRequest').click(function () {
            if ($('#RequestPasswordForm').valid()) {
                $.ajax({
                    type: 'POST',
                    url: '/Member/RequestPassword',
                    dataType: 'json',
                    data: JSON.stringify({
                        Account: $('#Account').val(),
                        Email: $("#Email").val()
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data, textStatus) {
                        alert("密码已经发送至你的注册邮箱中，请及时接收。");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $.AlertException(XMLHttpRequest, errorThrown);
                    }
                });
            }
            else {
                return;
            }
        });
    });

    //]]>
</script>



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "RequestPasswordForm" }))
{
    <span>Account </span><input type="text" id="Account" name="Account" /><br />
    <span>Email </span><input type="text" id="Email" name="Email" /><br />
    <input id="btnRequest" type="button" value="请求密码" />    
}

