@{
    ViewBag.Title = "Reset Password";
}
<script src="~/Scripts/insus.common.utility.js"></script>
<script type="text/javascript">
    ////<![CDATA[

    $(document).ready(function () {
        $("#Registerform").validate({
            rules: {
                Password: "required",
                ConfirmPassword: {
                    required: true,
                    equalTo: "#Password"
                }
            },
            messages: {
                Password: "输入密码。",
                ConfirmPassword: {
                    required: "输入确认密码。",
                    equalTo: "输入相同的密码。"
                }
            }
        });

        $('#btnReset').click(function () {
            if ($('#ResetPwdForm').valid()) {
                $.ajax({
                    type: 'POST',
                    url: '/Member/ResetPassword',
                    dataType: 'json',
                    data: JSON.stringify({
                        Token: $.urlParam('token'),
                        Password: $('#ConfirmPassword').val()
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data, textStatus) {
                        alert("密码已经成功重置，可以使用新密码登录系统。");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $.AlertException(XMLHttpRequest, errorThrown);
                    }
                });
            }
            else {
                return;
            }
        });
    });

    $.urlParam = function (name) {
        var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        else {
            return results[1] || 0;
        }
    }

    //]]>
</script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ResetPwdForm" }))
{
    <span>Password </span><input type="password" id="Password" name="Password" /><br />
    <span>Confirm Password </span><input type="password" id="ConfirmPassword"
                                         name="ConfirmPassword" /><br />
    <input id="btnReset" type="button" value="重置" />
}


