@model FruitKind
 @using Insus.NET.Models;

<td style="border: 1px solid #0094ff;">
    @Html.DisplayFor(o => Model.FruitKind_nbr)
</td>
<td style="border: 1px solid #0094ff;">   
    @Html.DisplayFor(o => Model.CategoryName)
</td>
<td style="border: 1px solid #0094ff;">
    @Html.DisplayFor(o => Model.KindName)
</td>
