@{
    ViewBag.Title = "Dynamic Load";
}
<script src="~/Scripts/insus.common.utility.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/Home/PV",
            data: {
                fileName: "bb.gif"
            },
            type: "GET",
            dataType: "html",
            success: function (data) {
                $('#divImg').html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.AlertException(XMLHttpRequest, errorThrown);
            }
        })
    });
</script>

<div id="divImg">
</div>

