<style type="text/css">
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #0094ff;
    }
</style>


<table class="table" style="width: 40%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>hits</th>
            <th>DateTime</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>121</td>
            <td>article title</td>
            <td>150</td>
            <td>2014-04-02</td>
        </tr>
        <tr>
            <td>231</td>
            <td> title name</td>
            <td>100</td>
            <td>2014-04-03</td>
        </tr>       
    </tbody>
</table>