@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>File List Mgr</title>
    <script src="~/Scripts/jquery-2.1.0.js"></script>
    
    <script src="~/Scripts/jquery-ui-1.10.4.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/uploadify/jquery.uploadify.js"></script>   
    <link href="~/Scripts/uploadify/uploadify.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Home/GetAllUploadFile',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data, textStatus) {
                    var tbody = $('#tbody1');
                    $.each(data, function (i, item) {
                        OutputData(tbody, item);
                    });
                }
            });
        });

        function OutputData(tbody, item) {
            var uploadTime = new Date(parseInt(item.UploadedTime.substr(6)));
            var uploadDate = uploadTime.getFullYear() + "-" + uploadTime.getMonth() + "-" + uploadTime.getDate() + " " +
                uploadTime.getHours() + ":" + uploadTime.getMinutes() + ":" + uploadTime.getMilliseconds();

            tbody.append("<tr>" +
                        "<td style=\"border: 1px solid #0094ff;\">" +
                           item.FileLibrary_nbr +
                        "</td>" +
                        "<td style=\"border: 1px solid #0094ff;\">" +
                            item.OldFileName +
                        "</td>" +
                        "<td style=\"border: 1px solid #0094ff;\">" +
                            item.Size +
                        "</td>" +
                        "<td style=\"border: 1px solid #0094ff;\">" +
                            uploadDate +
                        "</td>" +
                        "<td style=\"border: 1px solid #0094ff;\">" +
                             "<input id=\"btnDel" + item.FileLibrary_nbr + "\" type=\"button\" value=\"Delete\" />" +
                        "</td>" +
                        "<td style=\"border: 1px solid #0094ff;\">" +
                             "<input id=\"btnUpt" + item.FileLibrary_nbr + "\" type=\"button\" value=\"Update\" />" +
                        "</td>" +
                        "</tr>");


            var buttonDel = $('#btnDel' + item.FileLibrary_nbr);
            buttonDel.click(function () {
                var tr = $(this).closest('tr');
                $.ajax({
                    type: 'POST',
                    url: '/Exercise/Delete',
                    dataType: 'json',
                    data: JSON.stringify({
                        FileLibrary_nbr: item.FileLibrary_nbr
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        tr.remove();
                        alert("文件成功删除。");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            })

            var buttonUpt = $('#btnUpt' + item.FileLibrary_nbr);
            buttonUpt.click(function () {
                $("#dialog").dialog({
                    autoOpen: false,
                    position: 'center',
                    title: '更新文档',
                    draggable: false,
                    width: 700,
                    height: 500,
                    resizable: true,
                    modal: true,

                }).dialog("open");

                $('#Filedata').uploadify({
                    swf: '/Scripts/uploadify/uploadify.swf',
                    uploader: '/Exercise/Update',
                    multi: false,
                    auto: true,
                    fileObjName: 'Filedata',
                    formData: { FileLibrary_nbr: item.FileLibrary_nbr }

                });
            })
        }
    </script>
</head>
<body>
    <div>
        <table class="table" style="border-collapse: collapse; width: 60%;">
            <thead>
                <tr>
                    <th style="border: 1px solid #0094ff;">ID</th>
                    <th style="border: 1px solid #0094ff;">FileName</th>
                    <th style="border: 1px solid #0094ff;">Size</th>
                    <th style="border: 1px solid #0094ff;">UploadTime</th>
                    <th style="border: 1px solid #0094ff;">Delete</th>
                    <th style="border: 1px solid #0094ff;">Update</th>
                </tr>
            </thead>
            <tbody id="tbody1"></tbody>
        </table>

        <div id="dialog" style="display: none;" title="Dialog Title">
            <input id="Filedata" type="file" name="Filedata" />
        </div>
    </div>
</body>
</html>
