
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rmvb Demo</title>
</head>
<body>
    <div> 
        @Html.Action("PlayRmvb")        
    </div>
</body>
</html>
