
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
    <script src="~/Scripts/jquery-2.0.2.js"></script>


</head>
<body>
    <div>  
        <select id="Select1">
            <option>A1</option>
            <option>A2</option>
            <option>A3</option>
        </select>
        <br />
        <input id="ButtonPreview" type="button" value="Preview" />
    </div>
</body>
</html>
